body {
    background-color: gray;
    margin: auto;
    aspect-ratio: 1;
    height: 800px;
    width: auto;
}


.flex-container {
    display: flex;
}

.grid-item {
    flex: 1;
    aspect-ratio: 1;
    width: auto;
    height: auto;
    margin: 0.5px;
    background-color: white;
}

.grid-item:hover{
    background-color: black ;
}

.button-div {
    text-align: left;
    margin: 5px;
}

.input-button {
    font-size: small;
    height: 50px;
    width: 15%;
    color: aqua;
    background-color: rgb(41, 39, 39);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.input-button:hover {
    background-color: rgb(141, 122, 122);
    
}