

.flex-container {
    display: flex;
}

.grid-item {
    flex: 1;
    aspect-ratio: 1;
    width: auto;
    height: auto;
    margin: 5px;
    background-color: black;
}

.grid-item:hover{
    background-color: gray ;
}